<table id="results">
  <% results = Result.find_all_by_desc(result_type) %>
  <p>Found <%= results.size %> place(s): </p>
  <% results.each do |item| %>
    <tr>
      <fieldset class="ui-corner-all">
        <legend> <%=link_to "#{item["location"]}", "#{item.href}", :target => "_blank" %></legend>
      <%= item["address"] %> 
      <%= item["price"] %>
      </fieldset>
    </tr>
  <% end %>
</table>
