<link href="css/about.css" rel="stylesheet" type="text/css" />
<link href="css/loginbox.css" rel="stylesheet" type="text/css" />
    <div id="content">
      <ul>
         <li><div id="about-button"><strong><a href="about.html" style="margin-top: 44px;" title="About Us" target="_self" id="about-button">About Us</a></strong></div></li>
         <li><a href="contact.html" style="padding-left: 11px; line-height: 60px;" title="Contact Us" target="_self">Contact</a></li>
         <li><a href="jobs.html" style="padding-left: 11px; line-height: 32px;" title="Jobs" target="_self">Jobs</a></li>
         <li><a href="privacy.html" style="padding-left: 11px; line-height: 60px;" title="Privacy Policy" target="_self">Privacy</a></li>
      </ul>
    </div><!-- end content -->
    <div id="searchbox">
    <h1>About Us</h1><br />
    <h2>Our Company</h2>
    <p>Parking Connect is a tech based company with the purpose of making online parking easier. Founded in 2012 with a background in online parking & parking management we felt a new approach to online parking was necessary.</p><br />
    <h2>Compare multiple parking sites all at once. Choose where to park at the best rate.</h2>
    <p>Our website will allow users to search across multiple parking websites for a specific type of parking needed. The    parking industry has evolved and so have online parking sites. Our goal is to have every type of parking option in every city available through one search on our site.<br /><br />
Once you have found a parking space and rate that is satisfactory you can book through the parking website hosting the space.</p>
    </div>
    <!-- end searchbox -->
    <div id="network">
    </div><!-- end network -->

