<link href="/css/about.css" rel="stylesheet" type="text/css" />
<link href="/css/loginbox.css" rel="stylesheet" type="text/css" />
<div id="header">
    <div id="pc-logo"><a href="index.html" title="Parking CONNECT" target="_self" id="pc-logo">ParkingConnect</a> </div><!-- end logo -->
    <div id="navbar">
   	  <ul>
   	    <li><a href="daily.html" title="Daily Parking" 		target="_self">Daily</a></li>
		<li><a href="monthly.html" title="Monthly Parking" target="_self">Monthly</a></li>
		<li><a href="airport.html" title="Airport Parking" target="_self">Airport</a></li>
	  </ul>
    </div><!-- end navbar -->
          <div id="navright">
      <ul>
        <li><a href="#" class="lightbox" name="box1">Login</a><div class="backdrop"></div>
	<div class="box1 box" style="display:none;"><div class="close" name="box1">X</div>
    <h1>Login section coming soon!</h1><p>Our Login page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
    <form class="loginform" action="#">

  <input type="text" id="myname" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
    <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
       <li><a href="#" class="lightbox" name="box2">My Trips</a><div class="backdrop"></div>
	<div class="box2 box" style="display:none;"><div class="close" name="box2">X</div>
    <h1>My Trips section coming soon!</h1><p>Our My Trips page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
    <form class="loginform" action="#">

  <input type="text" id="myname" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
    <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
      </ul>
    </div><!-- end navright -->
  </div><!-- end header -->
  <div id="main">
    <!-- end navselected -->
    <div id="content">
      <ul>
         <li><div id="about-button"><strong><a href="about.html" style="margin-top: 44px;" title="About Us" target="_self" id="about-button">About Us</a></strong></div></li>
         <li><a href="contact.html" style="padding-left: 11px; line-height: 60px;" title="Contact Us" target="_self">Contact</a></li>
         <li><a href="jobs.html" style="padding-left: 11px; line-height: 32px;" title="Jobs" target="_self">Jobs</a></li>
         <li><a href="privacy.html" style="padding-left: 11px; line-height: 60px;" title="Privacy Policy" target="_self">Privacy</a></li>
      </ul>
    </div><!-- end content -->
    <div id="searchbox">
    <h1>About Us</h1><br />
    <h2>Our Company</h2>
    <p>Parking Connect is a tech based company with the purpose of making online parking easier. Founded in 2012 with a background in online parking & parking management we felt a new approach to online parking was necessary.</p><br />
    <h2>Compare multiple parking sites all at once. Choose where to park at the best rate.</h2>
    <p>Our website will allow users to search across multiple parking websites for a specific type of parking needed. The    parking industry has evolved and so have online parking sites. Our goal is to have every type of parking option in every city available through one search on our site.<br /><br />
Once you have found a parking space and rate that is satisfactory you can book through the parking website hosting the space.</p>
    </div>
    <!-- end searchbox -->
    <div id="network">
    </div><!-- end network -->
  </div><!-- end main -->
  <div id="footer">
    <div id="footnav">
      <ul>
        <li><a href="about.html" title="About Us" target="_self">About</a> |</li>
        <li><a href="privacy.html" title="Privacy" target="_self">Privacy</a> |</li>
        <li><a href="destinations.html" title="Parking Destinations" target="_self">Destinations</a></li>
      </ul>
    </div><!-- end footnav -->
    <div id="copyright">
    <p>© 2012 ParkingCONNECT.com</p>
    </div><!-- end contact -->
  </div><!-- end footer -->
