<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="icon" type="image/png" href="images/PC_favicon.png" />
<script type="text/xml">
<!--
<oa:widgets>
  <oa:widget wid="2149022" binding="#OAWidget" />
</oa:widgets>
-->
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Compare multiple parking sites at once. Choose where to park at the best rate." />
    <meta name="keywords" content="Parking, cheap parking, hotel parking, parking rates, rates, daily parking, monthly parking, airport parking, event parking, compare parking rates, cheap parking rates, cheap daily parking, cheap monthly parking, cheap airport parking, parking reservations, discount parking, parking deals, find parking prices, san francisco, new york, chicago, boston, baltimore" />
<title>ParkingCONNECT - Cheap Parking, Daily Parking, Monthly Parking, Airport Parking, Compare Parking Rates</title>

<style type="text/css">
<!--

-->
</style>
<link href="css/about.css" rel="stylesheet" type="text/css" />
<link href="css/loginbox.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="javascript/lightbox.js" type="text/javascript">
<!--

-->
</script>


</head>

<body>

<div id="container">
  <div id="header">
    <div id="pc-logo"><a href="index.html" title="Parking CONNECT" target="_self" id="pc-logo">ParkingConnect</a> </div><!-- end logo -->
    <div id="navbar">
   	  <ul>
   	    <li><a href="daily.html" title="Daily Parking" 		target="_self">Daily</a></li>
		<li><a href="monthly.html" title="Monthly Parking" target="_self">Monthly</a></li>
		<li><a href="airport.html" title="Airport Parking" target="_self">Airport</a></li>
	  </ul>
    </div><!-- end navbar -->
          <div id="navright">
      <ul>
        <li><a href="#" class="lightbox" name="box1">Login</a><div class="backdrop"></div>
	<div class="box1 box" style="display:none;"><div class="close" name="box1">X</div>
    <h1>Login section coming soon!</h1><p>Our Login page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
    <form class="loginform" action="#">

  <input type="text" id="myname" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
    <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
       <li><a href="#" class="lightbox" name="box2">My Trips</a><div class="backdrop"></div>
	<div class="box2 box" style="display:none;"><div class="close" name="box2">X</div>
    <h1>My Trips section coming soon!</h1><p>Our My Trips page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
    <form class="loginform" action="#">

  <input type="text" id="myname" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
    <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
      </ul>
    </div><!-- end navright -->
  </div><!-- end header -->
  <div id="main">
    <!-- end navselected -->
    <div id="content">
      <ul style="margin-top:30px;">
          <li><a href="about.html" style="padding-left: 11px; line-height: 60px;" title="About Us" target="_self">About Us</a></li>
         <li><div id="contact-button"><strong><a href="contact.html" style="" title="Contact Us" target="_self" id="contact-button">Contact Us</a></strong></div></li>
         <li><a href="jobs.html" style="padding-left: 11px; line-height: 60px;" title="Jobs" target="_self">Jobs</a></li>
         <li><a href="privacy.html" style="padding-left: 11px; line-height: 32px;" title="Privacy Policy" target="_self">Privacy</a></li>
      </ul>
    </div><!-- end content -->
    <div id="searchbox">
    <h1>Contact Us</h1><br />
    <h2>Customer Service, Feedback, Press & Media</h2>
    <p>If you need to contact us for any the above reasons please e-mail us at <a href="mailto:support@parkingconnect.com" style="color:#409bec">support@parkingconnect.com.</a> We will get back to you within 1-2 business days.</p><br />
    <h2>Founder & Main Contact</h2>
    <p>For contact with the Founder & any other business inquiries please email Mike at <a href="mailto:mike@parkingconnect.com" style="color:#409bec">mike@parkingconnect.com.</a></p>
    </div>
    <!-- end searchbox -->
    <div id="network">
    </div><!-- end network -->
  </div><!-- end main -->
  <div id="footer">
    <div id="footnav">
      <ul>
        <li><a href="about.html" title="About Us" target="_self">About</a> |</li>
        <li><a href="privacy.html" title="Privacy" target="_self">Privacy</a> |</li>
        <li><a href="destinations.html" title="Parking Destinations" target="_self">Destinations</a></li>
      </ul>
    </div><!-- end footnav -->
    <div id="copyright">
    <p>© 2013 ParkingCONNECT.com</p>
    </div><!-- end contact -->
  </div><!-- end footer -->
</div><!-- end container -->
</body>
</html>
