<link href="/css/about.css" rel="stylesheet" type="text/css" />
<link href="/css/loginbox.css" rel="stylesheet" type="text/css" />
    <div id="content">
      <ul style="margin-top:47px;">
          <li><a href="about.html" style="padding-left: 11px; line-height:26px;" title="About Us" target="_self">About Us</a></li>
         <li><a href="contact.html" style="padding-left: 11px; line-height: 66px;" title="Contact Us" target="_self">Contact</a></li>
         <li><div id="jobs-button"><strong><a href="jobs.html" style="" title="Jobs" target="_self" id="jobs-button">Jobs</a></strong></div></li>
         <li><a href="privacy.html" style="padding-left: 11px; line-height: 54px;" title="Privacy Policy" target="_self">Privacy</a></li>
      </ul>
    </div><!-- end content -->
    <div id="searchbox">
    <h1>Jobs</h1><br />
    <h2>Interested in joining the ParkingCONNECT team?</h2>
    <p>Parking CONNECT is currently seeking partners to join their team. Just as any early start-up we are looking for driven, entrepreneurial minded, tech guru’s to add and grow our site.</p><br />
    <h2>Jobs Contact</h2>
    <p>Whether you possess heavy back-end skills, database management, front-end design, or mobile development please email Mike at mike@parkingconnect.com. Include your resume & interest in a position.
We are currently looking to grow our team and our journey is limitless!<br /><br />
Once you have found a parking space and rate that is satisfactory you can book through the parking website hosting the space.</p>
    </div>
    <!-- end searchbox -->
    <div id="network">
    </div><!-- end network -->

