<script>
   $(document).ready(function() {
      $('#findbtn').click(function(){
        var wherebox, city, state
        wherebox = $('#wherebox').val();
        city = wherebox.split(",")[0].replace(/^\s+|\s+$/g, '').replace(" ","-")
        state = wherebox.split(",")[1].replace(/^\s+|\s+$/g, '')
        from = $('#from').val();
        to = $('#to').val();
        time_start = $('#Items').val();
        time_end = $('#Items2').val();
        if ($('#centralpark').is(':checked')) {
          var city_short
          if ( city.toLowerCase() == "new-york" )
          { city_short = "nyc" }
          else
          { city_short = city.replace(" ","").replace("-","") }
          url = "http://" + city_short + ".centralparking.com/parking-near/" + city + "-" + state + "-USA.html"
          window.open(url, 'window name', 'window settings');
        }
        
      });
   });
</script>
<link href="css/pc.css" rel="stylesheet" type="text/css" />
<link href="css/dailybox.css" rel="stylesheet" type="text/css" />
<link href="css/loginbox.css" rel="stylesheet" type="text/css" />

    
    <div id="content">
       <h1>one search 
    <span style="color: #024986">CONNECTS</span>
    all.</h1>
    <p>Compare multiple parking sites at once.
    Choose where to park at the best rate.</p>
    <div class="iframefb">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fparkingconnect&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe></div>
      <a href="https://twitter.com/parking_connect" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @parking_connect</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div><!-- end content -->
    <div id="searchbox">
    <div id="navselected" style="margin-left: 500px;"></div><!-- end navselected -->
    <div id="formbox"><form action="/monthly_search.js" method="get" data-remote='true'>
      <label for="wherebox"><h1>Where</h1></label>
        <input type="text" name="wherebox" id="wherebox" tabindex="1" />
        <p>enter city, address, or landmark</p>
 <br/>
 
 <p>Choose Sites to Compare vs. ParkingConnects (new windows)  </p>
 <hr>
  <table style="width:95%;">
    <tr>
      
      <td>
        <%= check_box_tag("centralpark", value = "1", checked = true, options = {})%>
        <%= label_tag "centralpark" %>
      </td>
          </tr>
    </table>
    <div id="formbox3">
      <div id="findbtn">
        <input type="submit" class="button2"/></button>
      </div><!-- end findparkingbtn -->
    </div>
  </form>

</div><!-- end formbox -->
<div id="search_results">
</div>
   </div><!-- end searchbox -->

