 <div id="header">
    <div id="pc-logo"><a href="index.html" title="Parking CONNECT" target="_self" id="pc-logo">ParkingConnect</a> </div><!-- end logo -->
    <div id="navbar">
   	  <ul>
   	    <li><a href="daily.html" title="Daily Parking" 		target="_self">Daily</a></li>
		<li><a href="monthly.html" title="Monthly Parking" target="_self">Monthly</a></li>
		<li><a href="airport.html" title="Airport Parking" target="_self">Airport</a></li>
	  </ul>
    </div><!-- end navbar -->
          <div id="navright">
      <ul>
        <li><a href="#" class="lightbox" name="box1">Login</a><div class="backdrop"></div>
	<div class="box1 box" style="display:none;"><div class="close" name="box1">X</div>
    <h1>Login section coming soon!</h1><p>Our Login page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
    <form class="loginform" action="#">

  <input type="text" id="myname" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
    <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
       <li><a href="#" class="lightbox" name="box2">My Trips</a><div class="backdrop"></div>
	<div class="box2 box" style="display:none;"><div class="close" name="box2">X</div>
    <h1>My Trips section coming soon!</h1><p>Our My Trips page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
    <form class="loginform" action="#">

  <input type="text" id="myname" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
    <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
      </ul>
    </div><!-- end navright -->
  </div><!-- end header -->
  <div id="main">
    <div id="content">
       <h1>one search 
    <span style="color: #024986">CONNETS</span>
    all.</h1>
    <p>Compare multiple parking sites at once.
    Choose where to park at the best rate.</p>
    <div class="iframefb">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fparkingconnect&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe></div>
      <a href="https://twitter.com/parking_connect" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @parking_connect</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div><!-- end content -->
    <div id="searchbox">
    <div id="navselected" style="margin-left: 500px;"></div><!-- end navselected -->
    <div id="formbox"><form action="" method="get">
      <label for="wherebox"><h1>Where</h1></label>
        <input type="text" name="wherebox" id="wherebox" tabindex="1" />
        <p>enter city, address, or landmark</p>
    </form>
    </div><!-- end formbox -->
    </div><!-- end searchbox -->
  </div><!-- end main -->
  <div id="footer">
    <div id="footnav">
      <ul>
        <li><a href="about.html" title="About Us" target="_self">About</a> |</li>
        <li><a href="privacy.html" title="Privacy" target="_self">Privacy</a> |</li>
        <li><a href="destinations.html" title="Parking Destinations" target="_self">Destinations</a></li>
      </ul>
    </div><!-- end footnav -->
    <div id="copyright">
    <p>© 2012 ParkingCONNECT.com</p>
    </div><!-- end copyright -->
  </div><!-- end footer -->
