<link href="/css/about.css" rel="stylesheet" type="text/css" />
<link href="/css/loginbox.css" rel="stylesheet" type="text/css" />
<div id="header">
    <div id="pc-logo"><a href="index.html" title="Parking CONNECT" target="_self" id="pc-logo">ParkingConnect</a> </div><!-- end logo -->
    <div id="navbar">
   	  <ul>
   	    <li><a href="daily.html" title="Daily Parking" 		target="_self">Daily</a></li>
		<li><a href="monthly.html" title="Monthly Parking" target="_self">Monthly</a></li>
		<li><a href="airport.html" title="Airport Parking" target="_self">Airport</a></li>
	  </ul>
    </div><!-- end navbar -->
          <div id="navright">
      <ul>
        <li><a href="#" class="lightbox" name="box1">Login</a><div class="backdrop"></div>
	<div class="box1 box" style="display:none;"><div class="close" name="box1">X</div>
    <h1>Login section coming soon!</h1><p>Our Login page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
    <form class="loginform" action="#">

  <input type="text" id="myname" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
    <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
       <li><a href="#" class="lightbox" name="box2">My Trips</a><div class="backdrop"></div>
	<div class="box2 box" style="display:none;"><div class="close" name="box2">X</div>
    <h1>My Trips section coming soon!</h1><p>Our My Trips page is currently under construction. In the meantime, feel free to sign up below to recieve updates about our site!</p><br />
    <form class="loginform" action="#">

  <input type="text" id="myname" />
  <button type="submit" class="button"/></button>
  <p>enter email address</p>
</form><br />
    <p>Also, any feedback is much appreciated! We’re all about building a product that people love!</p></div></li>
      </ul>
    </div><!-- end navright -->
  </div><!-- end header -->
  <div id="main">
    <!-- end navselected -->
    <div id="content">
      <ul style="margin-top:47px;">
          <li><a href="about.html" style="padding-left: 11px; line-height:26px;" title="About Us" target="_self">About Us</a></li>
         <li><a href="contact.html" style="padding-left: 11px; line-height: 66px;" title="Contact Us" target="_self">Contact</a></li>
         <li><a href="jobs.html" style="padding-left: 11px; line-height: 26px;" title="Jobs" target="_self">Jobs</a></li>
         <li><div id="privacy-button"><strong><a href="privacy.html" style="margin-top: 20px;" title="Privacy Policy" target="_self" id="privacy-button">Privacy Policy</a></strong></div></li>
      </ul>
    </div><!-- end content -->
    <div id="searchbox">
    <h1>Privacy Policy</h1><br />
    <h2>Protecting Your Information</h2>
    <p>Parking CONNECT keeps all of your information in our privately held and authenticaed system. We will not share, sell, or otherwise release your private information shared through our site.</p><br />
    </div>
    <!-- end searchbox -->
    <div id="network">
    </div><!-- end network -->
  </div><!-- end main -->
  <div id="footer">
    <div id="footnav">
      <ul>
        <li><a href="about.html" title="About Us" target="_self">About</a> |</li>
        <li><a href="privacy.html" title="Privacy" target="_self">Privacy</a> |</li>
        <li><a href="destinations.html" title="Parking Destinations" target="_self">Destinations</a></li>
      </ul>
    </div><!-- end footnav -->
    <div id="copyright">
    <p>© 2012 ParkingCONNECT.com</p>
    </div><!-- end contact -->
  </div><!-- end footer -->
