<link href="css/about.css" rel="stylesheet" type="text/css" />
<link href="css/loginbox.css" rel="stylesheet" type="text/css" />
<div id="content">
      <ul style="margin-top:47px;">
          <li><a href="about.html" style="padding-left: 11px; line-height:26px;" title="About Us" target="_self">About Us</a></li>
         <li><a href="contact.html" style="padding-left: 11px; line-height: 66px;" title="Contact Us" target="_self">Contact</a></li>
         <li><a href="jobs.html" style="padding-left: 11px; line-height: 26px;" title="Jobs" target="_self">Jobs</a></li>
         <li><div id="privacy-button"><strong><a href="privacy.html" style="margin-top: 20px;" title="Privacy Policy" target="_self" id="privacy-button">Privacy Policy</a></strong></div></li>
      </ul>
    </div><!-- end content -->
    <div id="searchbox">
    <h1>Privacy Policy</h1><br />
    <h2>Protecting Your Information</h2>
    <p>Parking CONNECT keeps all of your information in our privately held and authenticaed system. We will not share, sell, or otherwise release your private information shared through our site.</p><br />
    </div>
    <!-- end searchbox -->
    <div id="network">
    </div><!-- end network -->

